@import 'tailwindcss';

@font-face {
  font-family: 'Noto Sans';
  font-display: block;
  src:
    local('Noto Sans'),
    url('/fonts/NotoSans-Regular.woff2') format('woff2'),
    url('/fonts/NotoSans-Regular.woff') format('woff'),
    url('/fonts/NotoSans-Regular.ttf') format('truetype');
}
/**
* Space Mono
*/
@font-face {
  font-family: 'Space Mono';
  font-display: block;
  src:
    local('Space Mono'),
    url('/fonts/SpaceMono-Regular.woff2') format('woff2'),
    url('/fonts/SpaceMono-Regular.woff') format('woff'),
    url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}

:root {
  --grid-bleed: 12px;
  --grid-gap: 12px;
}

@media (min-width: 900px) {
  :root {
    --grid-bleed: 20px;
    --grid-gap: 20px;
  }
}

@theme {
  /**
  * typography
  */
  --font-sans: 'Noto Sans', sans-serif;
  --font-mono: 'Space Mono', monospace;

  --text-7xl: 9.375rem; /* 150px */
  --text-7xl--line-height: 0.85;

  --text-6xl: 5.5rem; /* 88px */
  --text-6xl--line-height: 0.9;

  --text-5xl: 4.25rem; /* 68px */
  --text-5xl--line-height: 0.9;

  --text-4xl: 3.5rem; /* 56px */
  --text-4xl--line-height: 1.3;

  --text-3xl: 2.75rem; /* 44px */
  --text-3xl--line-height: 1;

  --text-2xl: 2rem; /* 32px */
  --text-2xl--line-height: 1;

  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: 1.05;

  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: 1.3;

  --text-base: 1rem; /* 16px */
  --text-base--line-height: 1.4;

  --text-sm: 0.875rem; /* 14px */
  --text-sm--letter-spacing: -0.01em;
  --text-sm--line-height: 1.3;

  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: 1.3;

  /**
  * colors
  */
  --color-black: #121212;
  --color-dark-grey: #aaaaaa;
  --color-light-grey: #d2d2d2;
  --color-white: #f2f2f2;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-black-50: rgba(0, 0, 0, 0.5);

  --spacing-bleed: var(--grid-bleed);
  --spacing-gap: var(--grid-gap);
}

html {
  --zoom-amount: 0.4;
  font-size: max(16px, calc(16px + 16 * var(--zoom-amount) * (100vw - 1440px) / 1440));
}

* {
  text-rendering: geometricPrecision;
}

body {
  overflow-x: clip;
  width: 100vw;
  background-color: var(--color-white);
  color: var(--color-black);
}

::selection {
  background: var(--color-black);
  color: var(--color-white);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
